html {
  background-color: #FFFFFF;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
  width: 600px;
}

h1 {
  color: #white;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background-color: #orange;
  display: block;
  padding: 15px;
  margin: 0em;
}

nav {
  background-color: #orange;
  text-align: center;
}

nav ol {
  margin: 0em;
  padding: 0em;
  list-style: none;
}

nav li {
  display: inline;
  width: 32%;
  float: left;
  border: 1px solid #a93f35;
  background-color: #d05c2e;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #orange;
  padding: 0.5em;
  margin: 0;
}

nav a:hover {
  background-color: #brown;
}

.grain-left {
  float: left;
  width: 50px;
  margin-top: 10px;
}

.grain-right {
  float:right;
  width: 50px;
  margin-top: 10px;
}
